body {
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    background: #8cd4de;
}

div{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

form {
    background: #f7f5f5;
    padding: 25px;
    margin: 150px 0;
}

fieldset {
    border: medium none;
    margin: 0 0 6px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

h1{
    font-size: 20px;
}

h2, label{
    font-size: 13px;
}

h3{
    font-size: 17px;
}

input,textarea {
    width: 100%;
    border: 1px solid #cccccc;
    margin: 0 0 5px;
    padding: 10px;
}

textarea {
    height: 100px;
}


button{
    border: none;
    background: #34eb46;
    color: #ffffff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
